* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html {
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
}
.main-content {
  width: 81.25%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
:root {
  --Inter: "Inter", sans-serif;
}
.intro {
  position: relative;
  margin-left: 30px;
  margin-top: 57px;
  margin-bottom: 12px;
  color: #696d77;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.intro::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -30px;
  width: 18px;
  height: 2px;
  background: #696d77;
}
/* Btn */
.btn {
  display: flex;
  cursor: pointer;
  margin-top: 53px;
  justify-content: center;
  align-items: center;
  width: 149px;
  height: 58px;
  border-radius: 8px;
  background: #212832;
  transition: opacity 0.5s;
}
.btn:hover {
  opacity: 0.7;
}
.btn span {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
/* Item  */
.item {
  position: relative;
  margin-left: 24px;
  color: #212832;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.item::before {
  position: absolute;
  top: 9px;
  left: -24px;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #7264d6;
}
.item + .item {
  margin-top: 18px;
}
/* Header */
.header {
  padding-top: 54px;
  padding-bottom: 54px;
  background: #fff;
}
.main__header {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo--name {
  margin-left: 6.95px;
}
.navigation__list {
  display: flex;
  margin-left: 70.32px;
}
.navigation__list-item + .navigation__list-item {
  margin-left: 47px;
}
.navigation__list-item {
  transition: color 0.5s;
}

.navigation-link {
  position: relative;
  color: #696d76;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.navigation-link::after {
  display: none;
  position: absolute;
  bottom: -4x;
  right: 0;
  content: "";
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background: rgb(132, 35, 129, 0.8);
}
.navigation__list-item:hover:not(:first-of-type) .navigation-link::after {
  display: block;
}
.navigation__list-item:hover .navigation-link {
  color: #333;
  font-weight: 600;
}
.navigation-home {
  position: relative;
}
.navigation-home .navigation-link {
  color: #212832;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.navigation-home::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background: rgb(132, 35, 129, 0.8);
}
.action__header {
  margin-left: auto;
}
.action__header--Log {
  background: transparent;
  border: none;
}
.action__header--Log span {
  display: inline-block;
  color: #212832;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.action__header--Sign {
  transition: opacity 0.5s;
  cursor: pointer;
  width: 113px;
  height: 52px;
  margin-left: 56px;
  border-radius: 6px;
  background: #212832;
}
.action__header--Sign span {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.action__header--Sign:hover {
  opacity: 0.6;
}
/* Hero */
.hero {
  padding-top: 34px;
  padding-bottom: 160px;
}
.main__hero {
  display: flex;
}
.main__hero--info {
  width: 46.15%;
}
.main__hero--banking {
  flex: 1;
}
.main__hero-title {
  width: 500px;
  margin-bottom: 20px;
  color: #212832;
  font-family: Open Sans;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 116.667% */
}
.hight-light {
  color: #7264d6;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
}
.main__hero--decs {
  width: 540px;
  margin-bottom: 40px;
  color: #696d76;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.hero__form--input {
  outline: none;
  border: none;
}
.hero__form--input::placeholder {
  color: #696d76;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.hero__form--error {
  display: none;
  margin-left: 10px;
  margin-top: 15px;
  color: rgb(225, 30, 30);
  font-size: 1.4rem;
  font-weight: 500;
  filter: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
}
.main__hero--form:has(input:invalid:not(:placeholder-shown))
  .hero__form--error {
  display: block;
}

.main__hero--form {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #fff;
  width: 540px;
  max-width: 100%;
  height: 74px;
  padding: 23px 373px 23px 23px;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}
.hero__form--btn {
  cursor: pointer;
  transition: opacity 0.5s;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 149px;
  height: 58px;
  border-radius: 8px;
  border: none;
  background: #7264d6;
}
.hero__form--btn:hover {
  opacity: 0.9;
}
.hero__form--btn span {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.main__hero--note {
  display: block;
  margin-top: 20px;
  color: #696d76;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 171.429% */
}
/* Css Mobile Baking */
.main__hero--phone {
  position: relative;
  z-index: 1;
  width: 296px;
  height: 562px;
  margin-left: 160px;
  border-radius: 40px;
  border: 12px solid #212832;
  background: #fff;
}
.main__hero--extra-interest {
  position: absolute;
  top: 135px;
  right: -185px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #da6464;
  fill: #da6464;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.main__hero--extra-interest strong {
  display: inline-block;
  margin-bottom: -12px;
  color: #fff;
  text-align: center;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main__hero--extra-interest p {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__hero--camera {
  /* position: absolute;
  top: 0;
  left: 60px; */
  margin-left: 64px;
  margin-bottom: 16px;
  width: 144px;
  height: 36px;
  border-radius: 0px 0px 18px 18px;
  background: #3c2f60;
}
.main__hero--screen {
  display: flex;
  flex-direction: column;
  padding: 0 11.5px;
}
.main__hero--card {
  position: relative;
  width: 250px;
  height: 150px;
  margin-bottom: 24px;
  border-radius: 20px;
  background: linear-gradient(76.13deg, #8679e4 11.52%, #7264d6 70.78%);
}
.main__hero--extra-1 {
  position: absolute;
  bottom: 0;
  right: 4px;
}
.main__hero--extra-2 {
  position: absolute;
  rotate: 0deg;
  top: 2px;
  left: 11px;
}
.main__hero--deposite {
  position: absolute;
  top: 40%;
  left: -50%;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 174px;
  padding: 14px 10px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
}
.main__hero--deposite p {
  margin-left: 8px;
  color: #31456a;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 100% */
}
.main__hero--deposite span {
  display: inline-block;
  margin-left: auto;
  color: #4ab5e3;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}
.main_hero--infoCard {
  padding: 16px;
}
.main__hero--nameBanking {
  display: flex;
  justify-content: space-between;
}
.main__hero--decsBanking {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__hero-groupImg {
  display: flex;
}
.main__hero--circleY {
  translate: -33%;
  opacity: 0.9;
}
.main__hero--circleO {
  opacity: 0.9;
}
.main__hero--surplus {
  display: block;
  margin-bottom: 32px;
  color: #fff;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main__hero--informationCard {
  position: relative;
  z-index: 1;
  display: flex;
  margin-bottom: 5px;
}
.main__hero--informationCard p {
  color: #fff;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__hero--informationCard p + p {
  margin-left: 12px;
}
.main_hero--dateRange {
  position: relative;
  z-index: 1;
  display: flex;
}
.main_hero--dateRange p {
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main_hero--dateRange p + p {
  margin-left: 36px;
}
.main__hero-listBanking {
  position: relative;
}
.main__hero-extra-secured {
  position: absolute;
  right: -92px;
  bottom: 25px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 124px;
  padding: 20px 15px 21px 14px;
  border-radius: 10px;
  background: #439f90;
}
.main__hero--extra-info {
  margin-left: 11px;
}
.main__hero--extra-info strong {
  color: #fff;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 100% */
}
.main__hero--extra-info span {
  color: #fff;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 8px; /* 100% */
}
.main__hero--transection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}
.main__hero--transection p {
  color: #31456a;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main_hero--Item_history_Banking {
  display: flex;
  cursor: pointer;
  transition: box-shadow 0.5s;
  padding: 14px 10px;
  border-radius: 12px;
  margin: 0px -5px;
}
.main_hero--Item_history_Banking:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main__hero--activeName {
  display: flex;
}
.main__hero--date_mailBanking {
  display: flex;
}
.main__hero--ImgBanking {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
}
.main__hero--activeBanking {
  display: flex;
  flex: 1;
  row-gap: 6px;
  flex-direction: column;
  margin-left: 14px;
}
.main__hero--activeName {
  display: flex;
  justify-content: space-between;
}
.main__hero--activeName p {
  color: #212832;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 14px; /* 100% */
}
.main__hero--date_mailBanking {
  display: flex;
  justify-content: space-between;
}
.main__hero--date_mailBanking p {
  color: #696d76;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 10px; /* 100% */
}
/* Works */
.works {
  padding-bottom: 160px;
}
.main__works {
  display: flex;
  justify-content: space-between;
}
.main__works--img {
  position: relative;
  width: 39%;
}
.main__works--logoExtra {
  position: absolute;
  top: 85px;
  right: 55px;
}
.main__works--logoExtra img {
  width: 64px;
  height: 64px;
}
.main__works--extraBlock {
  position: absolute;
  bottom: 100px;
  right: -120px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 226px;
  height: 70px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}
.main__works--extra-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.main__works--extra-info strong {
  display: inline-block;
  margin-bottom: 5px;
  color: #212832;
  font-family: var(--Inter);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main__works--extra-info span {
  color: #696d76;
  font-family: var(--Inter);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__works--info {
  flex: 1;
  margin-left: 230px;
}
.main__works--img,
.main__works--img .main__works--img-main {
  width: 456px;
  height: 619px;
}
.main__works--title {
  width: 294px;
  margin-bottom: 70px;
  color: #212832;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
}
.main__works--item-child {
  width: 470px;
  margin-bottom: 16px;
  color: #212832;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 145.455% */
}
.works--item-child-decs {
  width: 470px;
  color: #696d76;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.main__works--item + .main__works--item {
  margin-top: 28px;
}
/* Features */
.features {
  padding-bottom: 160px;
}
.main__features {
  display: flex;
}
.main__features--info {
  width: 40.17%;
}
.main__features--title {
  margin-bottom: 20px;
  color: #212832;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
}
.main__features--decs {
  width: 470px;
  margin-bottom: 28px;
  color: #696d76;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.main__features--right {
  flex: 1;
}
.main__features--card {
  position: relative;
  width: 482px;
  height: 322px;
  margin-top: 70px;
  margin-left: 130px;
  border-radius: 20px;
  background: #8476e3;
}
.main__features--extra-1 {
  position: absolute;
  top: 0;
  left: 4px;
}
.main__features--extra-2 {
  position: absolute;
  bottom: 0;
  right: 1px;
}

.main__features--extra__card {
  position: absolute;
  z-index: 1;
  top: -50px;
  right: -100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 276px;
  height: 86px;
  padding: 23px 13px 23px 0px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}
.main__features--extra__info {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.extra__info--top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}
.extra__info--top > p {
  font-family: var(--Inter);
  color: #212832;
  text-align: right;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.extra__info--top > p:first-of-type {
  color: #212832;
  font-family: var(--Inter);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main__features--extra__card2 {
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background: #439f90;
}
.extra__info--bottom {
  display: flex;
  justify-content: space-between;
}
.extra__info--bottom p {
  color: #696d76;
  text-align: right;
  font-family: var(--Inter);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__features--extra__card2 {
  position: absolute;
  z-index: 1;
  right: -70px;
  bottom: -70px;
}
.main__features--block-extra {
  padding: 14px 53px 15px 15px;
}
.main__features--block-extra p {
  margin-bottom: 6px;
  color: #fff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__features--block-extra strong {
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main__features--extra__img2 {
  margin-bottom: 14px;
}
.main__features .intro {
  margin-top: 0;
}
.main__features--infoCard {
  padding: 38px;
}
.main__features--nameBanking {
  display: flex;
  justify-content: space-between;
}
.main__features--decsBanking {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__features-groupImg {
  display: flex;
}
.main__features--circleO {
  margin-right: -50px;
}
.main__features--circleO,
.main__features--circleY,
.main__features--circleO img,
.main__features--circleY img {
  width: 80px;
  height: 48px;
  opacity: 0.8;
}
.main__features--surplus {
  position: relative;
  display: block;
  margin-bottom: 98px;
  z-index: 1;
  color: #fff;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main__features--informationCard {
  display: flex;
  margin-bottom: 4px;
}
.main__features--informationCard p {
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.main__features--informationCard p + p {
  margin-left: 26px;
}
.main__features--dateRange {
  position: relative;
  z-index: 1;
  display: flex;
}
.main__features--dateRange p {
  color: #fff;
  font-family: Open Sans;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main__features--dateRange p + p {
  margin-left: 81px;
}
/* About */
.about {
  padding-bottom: 160px;
}
.main__about {
  display: flex;
}
.main__about--background {
  width: 470px;
  margin-top: 416px;
}
.main__about--background-top {
  position: relative;
  border-radius: 0px 0px 12px 12px;
  width: 470px;
  height: 170px;
  background-color: #92c2c2;
}
.main__about--background-top::after {
  position: absolute;
  content: "";
  border-radius: 12px 12px 0px 0px;
  padding-right: 20px;
  top: -217px;
  left: -3px;
  width: 457px;
  padding-top: 264px;
  /* height: 214px; */
  background-color: #92c2c2;
  rotate: 350deg;
  transform: skew(-10deg);
}
.main__about--extra-img {
  position: absolute;
  z-index: 2;
  right: -120px;
  top: -140px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #7264d6;
}
.main__about--extra-block {
  position: absolute;
  z-index: 1;
  right: -100px;
  bottom: 60px;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 281px;
  height: 220px;
  filter: drop-shadow(0px 44px 48px rgba(0, 0, 0, 0.1));
}
.extra__block--title {
  margin-bottom: 20px;
  color: #212832;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.extra__block--banking-img {
  display: grid;
  grid-template-columns: repeat(3, 63px);
  grid-template-rows: repeat(2, 48px);
  gap: 18px;
}
.main__about--info {
  width: 40.17%;
  margin-left: 230px;
}
.main__about--img {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 20px;
}
.main__about--img img {
  width: 413px;
  height: 600px;
}
.main__about--title {
  width: 470px;
  margin-bottom: 20px;
  color: #212832;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
}
.main__about--decs {
  width: 470px;
  color: #696d76;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 28px;
}
/* Our Testimonial */
.testimonial {
  padding-bottom: 160px;
}
.testimonial__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.testimonial-intro {
  margin: 0 0 12px 0;
}
.testimonial-title {
  margin-bottom: 18px;
  color: #212832;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
}
.testimonial-decs {
  width: 435px;
  margin-bottom: 70px;
  color: #696d76;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.feedback__comment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__testimonial {
  display: flex;
  justify-content: center;
}
.main__testimonial--feedback-left {
  margin-right: 30px;
}

.feedback__comment--decs {
  position: relative;
  cursor: pointer;
  margin-bottom: 50px;
  padding: 42px 28px;
  background-color: #fff;
  fill: #fff;
  border: 1px #dfe2e8 solid;
  transition: filter 0.5s;
  width: 514px;
  color: #696d76;
  text-align: center;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 34px; /* 154.545% */
}
.feedback__comment--decs::after {
  position: absolute;
  bottom: -20px;
  left: 233px;
  content: "";
  height: 40px;
  width: 40px;
  z-index: 1;
  background-color: #fff;
  rotate: 316deg;
  border-bottom: 1px #dfe2e8 solid;
  border-left: 1px #dfe2e8 solid;
}
.feedback__comment--decs:hover {
  fill: #fff;
  filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
  border: none;
}
.feedback__comment--decs:hover::after {
  border: none;
}
.feedback__comment--user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback__comment--avatar {
  width: 104px;
  height: 104px;
  margin-top: 36px;
  border-radius: 50%;
  background: #4ab5e3;
  flex-shrink: 0;
}
.feedback__comment--avatar img {
  padding-top: 14px;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  object-fit: cover;
}
.feedback__comment--name-user {
  margin-top: 20px;
  color: #070052;
  text-align: center;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 138.462% */
}
.feedback__comment--works-user {
  margin-top: 2px;
  color: #696d76;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.feedback__comment--avatar.user-2 {
  width: 104px;
  height: 104px;
  margin-top: 36px;
  border-radius: 50%;
  background: #34a283;
  flex-shrink: 0;
}
.main__testimonial--list {
  display: flex;
  justify-content: space-between;
  margin: 38px auto 0px auto;
  width: 90px;
  height: 6px;
}
.main__testimonial--item {
  width: 22px;
  height: 6px;
  border-radius: 1px;
  border: 1px solid #9b9fab;
}
.main__testimonial--hight-light {
  background: #7264d6;
}
/* Blog */
.blog {
  padding-bottom: 160px;
}
.main__blog--info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.main__blog--title {
  color: #212832;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
}
.main__blog--btn.btn {
  width: 123px;
  height: 58px;
  transform: translateY(-25%);
  border-radius: 8px;
  background: #212832;
}
.main__blog--btn.btn span {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}
.main__blog--decs {
  width: 435px;
  margin-bottom: 70px;
  color: #696d76;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
/* width: 570px;
height: 216px;
flex-shrink: 0; */
.main__blog--list {
  display: grid;
  grid-template-columns: repeat(2, 570px);
  grid-template-rows: repeat(2, 216px);
  gap: 30px;
}
.main__blog--item {
  display: flex;
  padding: 28px;
  border-radius: 12px;
  border: 1px solid #dfe2e8;
  background: #fff;
  transition: box-shadow 0.5s, transform 0.5s;
}
.main__blog--item:hover {
  transform: translateY(-10px);
  border: none;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
}
.main__blog--img-blog {
  margin-right: 22px;
}
.main__blog--img-blog img {
  width: 160px;
  height: 160px;
  border-radius: 12px;
  object-fit: cover;
}
.main__blog--info-item span {
  display: inline-block;
  margin-top: 10px;
  color: #696d76;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.main__blog--info-item h3 {
  width: 332px;
  display: -webkit-box;
  margin-bottom: 20px;
  -webkit-line-clamp: var(--line-camp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #212832;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.main__blog--info-item a {
  color: #7264d6;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
/* Cta */
.cta {
  padding-bottom: 100px;
}
.main__cta {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 1170px;
  height: 466px;
  border-radius: 24px;
  background: #7264d6;
}
.Extra-Cta-1 {
  position: absolute;
  top: 49px;
  left: 112px;
}
.Extra-Cta-2 {
  position: absolute;
  top: 49px;
  right: 112px;
}
.Extra-Cta-3 {
  position: absolute;
  bottom: 49px;
  left: 166px;
}
.Extra-Cta-4 {
  position: absolute;
  bottom: 49px;
  right: 166px;
}
.main__cta--intro.intro {
  margin-top: 100px;
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.main__cta--intro.intro::before {
  background-color: #fff;
}
.main__cta--title {
  margin-bottom: 18px;
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
}
.main__cta--decs {
  width: 435px;
  margin-bottom: 38px;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.main__cta--downloads svg + svg {
  margin-left: 16px;
}
/* Footer */
.footer {
  padding-top: 100px;
  padding-bottom: 28px;
  background: #fafbff;
}
.footer__logo {
  display: flex;
  align-items: center;
  height: 24px;
}
.footer__logo--name {
  align-items: center;
  margin-left: 6.95px;
}

.main__footer--top {
  display: flex;
  justify-content: space-between;
}
.main__footer--list li a {
  color: #6a6e78;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  opacity: 0.75;
  transition: color 0.5s;
}
.main__footer--list li:hover a {
  color: #333;
}
.main__footer--list li + li {
  margin-top: 5px;
}
.main__footer--list span {
  display: inline-block;
  margin-bottom: 24px;
  color: #212832;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.main__footer--local-title {
  display: inline-block;
  margin-bottom: 24px;
  color: #212832;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.main__footer--local-decs {
  width: 371px;
  margin-bottom: 48px;
  color: #6a6e78;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  opacity: 0.75;
}
.main__footer--form > span {
  display: inline-block;
  margin-bottom: 24px;
  color: #0a142f;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.form__input--input {
  position: relative;
  width: 270px;
  padding: 12px 0 12px 12px;
  height: 52px;
  margin-right: 20px;
  border-radius: 6px;
  border: 1px solid #8e919a;
  outline: none;
}
.form__input--input::placeholder {
  color: #8e919a;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
.form__input--error {
  position: absolute;
  visibility: hidden;
  margin-top: 8px;
  margin-left: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  color: red;
}
.main__footer--form:has(input:invalid:not(:placeholder-shown)) .form__input--error {
  visibility: visible;
}
.form__input-btn {
  width: 113px;
  height: 52px;
  border-radius: 6px;
  background: #7264d6;
  border: none;
}
.form__input-btn span {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.main_footer--bottom a {
  display: inline-block;
  color: #6a6e78;
  text-align: justify;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  text-decoration-line: underline;
}
.main_footer--bottom a:first-of-type {
  margin-right: 52px;
}
/* Copy right */
.copy__right {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84px;
  background-color: #7264d6;
}
.copy__right--decs {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
}
